/*  your css code here. If applicable */
 body { font-family: Arial; margin: 20px; }
        header, nav, section, aside, footer { margin-bottom: 20px; }
        nav a { margin-right: 15px; }
        section, aside { padding: 10px; border: 1px solid #ccc; }
        footer { text-align: center; font-weight: bold; }